@import "../../../core/variable.scss";

.#{$project-prefix}-designer {
  display: flex;
  background: $background-color-lighter;
  .#{$project-prefix}-designer-main {
    flex: 1;
    margin: 16px;
    background: $background-color;
    overflow: hidden;
    border: none;
  }
  .#{$project-prefix}-designer-left {
    padding: 0px 4px;
    background: $background-color;
    .#{$project-prefix}-left-group-0 {
      display: flex;
      flex-direction: column;
      margin-bottom: 17px;
      height: 100%;
    }
  }
  .#{$project-prefix}-designer-right {
    background: $background-color;
  }
}
