@import "../../../core/variable.scss";

.#{$project-prefix}-designer {
  display: flex;
  background: $background-color-lighter;
  .#{$project-prefix}-designer-main {
    user-select: none;
    flex: 1;
    margin: $margin-y-md;
    background: $background-color;
    overflow: hidden;
    border: none;
  }
  .#{$project-prefix}-designer-left {
    padding: 0px $padding-x-xs;
    background: $background-color;
    display: flex;
    flex-direction: column;
    .#{$project-prefix}-left-group-0 {
      display: flex;
      flex-direction: column;
      margin-bottom: $margin-y-md;
      height: 100%;
    }
  }
  .#{$project-prefix}-designer-right {
    background: $background-color;
  }
}
